{% extends "main.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include "categories_sidebar.html" %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{title}}</h3>
                </div>
                <div class="panel-body">
                    {% for item in items %}
                    <a href="{{url_for('category_item_description', category_name=item.category.name,
             category_item_title=item.title)}}">
                        <h3>{{item.title}} {% if main %}({{item.category.name}}){% endif %}</h3>
                    </a>
                    {% endfor %}
                </div>
                {% if 'username' in session %}
                <div class="panel-footer"><a href="{{url_for('new_category_item')}}">Add Item</a></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
