{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row">
        <div class="main">
            <h3 class="page-header">Add Item</h3>

            <form action="{{url_for('new_category_item')}}" method='POST'>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" name="description" placeholder="Description">
                </div>
                <div class="form-group">
                    <label for="category_id">Category</label>
                    <br>
                    <select class="form-control" name="category_id">
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-default" id="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
